/**** 一级样式(标签) ****/
html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    /* position: relative; */
    background-color: #fdf8f4;
    overflow: hidden;

    font-size: 0.4266666666rem;
    background-color: #0c0f18;
}

input {
    background-color: transparent;
    /* background-color: chartreuse; */
    width: 6rem;

    border: none;
    padding: 0 12px;
    color: #FBFEFF;
    letter-spacing: 1px;
    line-height: 35px;
    font-size: 15px;
    font-weight: 600;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .1);
}

input::-webkit-input-placeholder {
    color: #565D69;
    text-align: start;
    font-size: 16px;
}

h2 {
    color: #FBFEFF;
    font-size: 13px;
}

p {
    font-size: 0.4266666666rem;
    color: #FBFEFF;
}








/**** 二级样式(id) ****/
#divRoot {
    width: 100%;
    height: 100%;
}

/*===   loading   ===*/
#divLoading {
    position: absolute;
    left: 40%;
    right: 40%;
    top: 50%;
    bottom: 50%;
    text-align: center;
    vertical-align: middle;
}

/*===    page1    ===*/
#divPage1 {
    /* background-color: bisque; */

    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;

    display: flex;
    flex-direction: column;
}

.divPage1Top {
    /* background-color: rgb(230, 123, 123); */
    width: 100%;
    height: 3.0rem;

    display: flex;
    flex-direction: column;
}

.divPrompt {
    /* background-color: rgb(85, 141, 224); */
    height: 2.8rem;

    display: flex;
    flex-direction: column;
    justify-content: start;

    margin-top: 0.5rem;
    padding-left: 10pt;
    padding-right: 10pt;
}

.divInput {
    background: rgba(49, 57, 72, 1);
    height: 1rem;

    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;

    border-radius: 8px;
    border: 0px solid #fff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1) inset;
    box-shadow: 0 0 5px 4px rgba(0, 0, 0, 0.1);
}

#txtInput {
    /* background-color: cyan; */

    height: 1.0rem;
    margin-left: 0pt;
    margin-right: 0pt;
    flex: 1;
}

.vline {
    width: 0px;
    height: 0.7rem;
    border-right: 2.5px solid #4B525F;

    margin-left: 5px;
    margin-right: 5px;
}

.divMode {
    /* background-color: hotpink; */
    width: 2rem;
    height: 1rem;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 5px;
}

.txtMode {
    color: #565D69;
}

.arrow {
    width: 15.6px;
    height: 8.4px;
    margin-top: 3.5px;
}

.divMenu {
    width: 1.95rem;
    height: 2.0rem;

    position: absolute;
    top: 63px;
    right: 25px;

    /* background-color: gold; */
    background-image: url('../assets/images/page/menu_border.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hline {
    width: 60px;
    height: 1px;
    border-top: 1.5px solid #59606C;

    margin-top: 5px;
    margin-bottom: 2px;
}

.chkQuick {
    /* background-color: violet; */
    margin-top: 6px;
    margin-bottom: 0px;
}

.chkHighDefinition {
    /* background-color: palegreen; */
    margin-top: 0px;
    margin-bottom: 0px;
}

#txtTip {
    /* background-color: lightgreen; */
    height: 0.75rem;
    line-height: 0.55rem;

    margin-top: 0.2rem;
    margin-left: 5pt;
    margin-right: 5pt;
    color: #565D69;
}

.divPage1Middle {
    /* background-color: lightblue; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex: 1;

    padding: 0px;
    margin: 0px;
}

.divStyleRoot {
    /* background-color: khaki; */
    height: 8rem;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#title2 {
    margin-top: 0.0rem;
    height: 0.1rem;
    padding-left: 15px;
}

#divStyle {
    /* background-color: rgb(18, 199, 139); */
    width: 100%;
    height: 6.5rem;

    display: flex;
    justify-content: center;
}

.divStyleItems {
    /* background-color: cornflowerblue; */
    width: 7.5rem;
    display: flex;
    flex-wrap: wrap;
}

.divStyleBorder {
    /* background-color: rgb(247, 213, 220); */
    width: 33.33%;
    height: 50%;

    display: flex;
    flex-direction: column;
    justify-content: start;
    justify-items: end;
}

.imgStyle {
    width: 90%;
    border-radius: 14px;
    border-style: solid;
}

.imgStyleChecked {
    position: relative;
    top: -68%;
    left: 68%;

    width: 20px;
    height: 20px;
    visibility: hidden;
}

.lblStyle {
    font-size: 12px;
    color: #FBFEFF;
    text-align: center;

    margin-top: -15%;
}

.divDisplayRoot {
    /* background-color: palegreen; */
    height: 3.5rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#title3 {
    margin-top: 0rem;
    height: 0.1rem;
    padding-left: 15px;
}

#divDisplay {
    margin-top: -10pt;
}

.swiper-container {
    /* background-color: yellowgreen; */
    height: 2.6rem;
}

.swiper-slide {
    overflow: hidden;
}

.divPage1Bottom {
    /* background-color: rgb(86, 216, 74); */
    height: 2.1rem;

    display: flex;
    flex-direction: column;
    justify-content: start;

    padding-left: 8vw;
    padding-right: 8vw;
}

#btnCreate {
    width: 100%;
}

#txtVersion {
    margin-top: 0.05rem;
    font-size: 13px;
    text-align: center;
    color: rgba(255, 255, 255, 0.2);
}








/*===    page2    ===*/
#divPage2 {
    /* background-color: tan; */
    height: 100%;
    padding: 0px, 0px;
    margin: 0px, 0px;
    text-align: center;
}

#prompt_tanslation {
    /* background-color: burlywood; */
    height: 2.5rem;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    text-align: start;
    font-size: 16px;
    color: #FFFFFF;
    display: none;
}

#imgProcedure {
    /* background-color: chartreuse; */
    width: 9rem;
    height: 12rem;

    margin-top: 3rem;

    user-select: none;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

#txtProgress {
    /* top: 16.0rem; */
    font-size: 16px;
    color: #FFFFFF;
    text-align: center;
}








/*===    page3    ===*/
#divPage3 {
    height: 100%;
    display: flex;
    justify-content: center;
}

#txtShare {
    /* background-color: darkmagenta; */
    position: absolute;
    left: 0px;
    right: 50px;
    top: 5px;
    text-align: right;
    font-size: 13px;
    color: #FBFEFF;
}

#imgShare {
    position: absolute;
    top: 20px;
    right: 30px;
    width: 15px;
    height: 15px;
}

#imgComplete,
#txtSetting {
    /* background-color: aqua; */
    position: absolute;
    margin-top: 3rem;
    width: 9rem;
    height: 12rem;
    display: block;
}

#txtSave {
    /* background-color: coral; */
    width: 100%;
    position: absolute;
    top: 14.8rem;
    text-align: center;
    font-size: 13px;
    color: #FBFEFF;
}

#divRetry {
    position: absolute;
    top: 15rem;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 8px;
    text-align: center;
}

#btnRetry {
    width: 100%;
}

#txtRetry {
    position: relative;
    top: 37px;
    color: #0C0F18;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    display: inline;

    user-select: none;
    pointer-events: none;
}








/*===    dialog    ===*/
#divDialog {
    background-color: rgba(0, 0, 0, 0.75);

    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 2;

    text-align: center;
}

.imgPopup {
    width: 300px;
    height: 208px;

    position: absolute;
    top: 300px;
    left: 11vw;
}

#txtRemark {
    /* background-color: darkmagenta; */

    width: 100%;
    position: absolute;
    top: 292px;
    color: #8F8F8F;
    font-size: 14px;
    text-align: center;
}

#divPromptEdit {
    /* background-color: darkorange; */
    position: absolute;
    top: 341px;
    left: 66px;
}

#txtPromptEdit {
    font-size: 16px;
    min-width: 252px;
    min-height: 92px;
    max-width: 252px;
    max-height: 92px;
    border: none;
    background-color: rgba(255, 255, 255, 0);
}

#btnCancel {
    /* background-color: darkmagenta; */
    position: absolute;
    top: 454px;
    left: 110px;
    color: #000000;
    font-weight: bold;
}

#btnConfirm {
    /* background-color: darkmagenta; */
    position: absolute;
    top: 454px;
    right: 120px;
    color: #576A94;
    font-weight: bold;
}