/**** 一级样式(标签) ****/
html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #fdf8f4;
    overflow: hidden;

    font-size: 16;
    background-color: #0c0f18;
}

input {
    appearance: none;
    text-align: center;
    height: 36px;
    /* width: 248px; */
    border-radius: 8px;
    border: 0px solid #fff;
    padding: 0 8px;
    outline: 0;
    letter-spacing: 1px;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    background: rgba(45, 45, 45, .10);
    border: 1px solid rgba(255, 255, 255, .15);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1) inset;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .1);
    /* -o-transition: all .2s;
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
    -ms-transition: all .2s; */
}

input {
    box-shadow: 0 0 5px 4px rgba(0, 0, 0, 0.1);
}

input::-webkit-input-placeholder {
    color: rgb(216, 216, 216);
    font-size: 16px;
    font-style: italic;
}

h2 {
    color: #FBFEFF;
    font-size: 13px;
}

/**** 二级样式(id) ****/
/*===    page1    ===*/
#divPage1 {
    position: absolute;
    left: 20px;
    right: 20px;
    z-index: 1;
}

#divInput {
    position: relative;
    top: 20px;
}

#divTip {
    /* width: 96%; */
    position: absolute;
    left: 5px;
    right: 5px;
    text-align: center;
    margin-top: -10px;

    color: rgb(212, 212, 212);
    border-radius: 8px;
    border: 0px solid #fff;
    font-size: 13px;
    background: rgba(45, 45, 45, .10);
    border: 1px solid rgba(255, 255, 255, .15);
    text-shadow: 0 1px 2px rgba(0, 0, 0, .1);
}

#txtInput {
    width: 90%;
}

#txtTranslateResult {
    position: relative;
    /* left: 5px;
    right: 5px; */
    font-style: italic;
    color: #0071db;
}

#title2 {
    position: relative;
    top: 80px;
}

#title3 {
    position: relative;
    top: 270px;
}

#divStyle {
    width: 100%;
    /* margin: 20px auto; */
    position: absolute;
    top: 170px;
    left: -7.5%;
    text-align: center;
}

#divDisplay {
    /* width: 100%;
    margin: 20px auto; */
    position: absolute;
    top: 425px;
    left: -7.5%;
    text-align: center;
}

li {
    position: relative;
    float: left;
    width: 90px;
    height: 90px;
    margin-left: 6px;
    margin-top: 6px;
    border: 1px solid #000;
    color: #333;
    font-size: 16px;
    /* line-height: 80px; */
    text-align: center;
    list-style-type: none;
}

.box li:hover {
    border: 1px solid #f00;
    /* position: relative;
    z-index: 2; */
}

.imgStyle {
    width: 90px;
    height: 90px;
}

/*===    page2    ===*/
#divPage2 {
    position: absolute;
    left: 20px;
    right: 20px;
    text-align: center;
    z-index: 2;
}

#imgProcedure,
#imgComplete {
    position: relative;
    top: 107px;
    width: 330px;
    height: 440px;
}

#txtProgress {
    position: relative;
    top: 110px;
    font-size: 16px;
    color: #FFFFFF;
}

/*===    page3    ===*/
#divPage3 {
    position: absolute;
    left: 20px;
    right: 20px;
    text-align: center;
    z-index: 3;
}

#txtShare {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 5px;
    text-align: right;
    font-size: 13px;
    color: #FBFEFF;
}



