/**** 一级样式(标签) ****/
html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #fdf8f4;
    overflow: hidden;

    font-size: 16;
    background-color: #0c0f18;
}

input {
    appearance: none;
    height: 36px;
    line-height: 35px;
    border-radius: 8px;
    border: 0px solid #fff;
    padding: 0 12px;
    outline: 0;
    letter-spacing: 1px;
    color: #FBFEFF;
    font-size: 15px;
    font-weight: 600;
    background: rgba(49, 57, 72, 1);
    border: 1px solid rgba(255, 255, 255, .15);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1) inset;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .1);
    box-shadow: 0 0 5px 4px rgba(0, 0, 0, 0.1);
}

input::-webkit-input-placeholder {
    color: rgb(216, 216, 216);
    text-align: center;
    font-size: 16px;
    font-style: italic;
}

h2 {
    color: #FBFEFF;
    font-size: 13px;
}

p {
    color: #FBFEFF;
}

/**** 二级样式(id) ****/
/*===   loading   ===*/
#divLoading {
    position: absolute;
    left: 40%;
    right: 40%;
    top: 50%;
    bottom: 50%;
    text-align: center;
    vertical-align: middle;
    /* z-index: 0; */
}

/*===    page1    ===*/
#divPage1 {
    position: absolute;
    left: 20px;
    right: 20px;
}

#divInput {
    position: relative;
    top: 20px;
}

#divTip {
    position: absolute;
    left: 10px;
    right: 10px;
    margin-top: -10px;

    color: rgb(212, 212, 212);
    font-size: 13px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .1);
}

#txtInput {
    width: 90%;
}

#title2 {
    position: relative;
    top: 60px;
}

#title3 {
    position: relative;
    top: 40px;
}

#divStyle {
    position: relative;
    top: 30px;
    display: flex;
    justify-content: center;
}

.divStyleItems {
    /* background-color: darkseagreen; */
    width: 310px;
    height: 250px;
    display: flex;
    flex-wrap: wrap;
}

.divStyleBorder {
    width: 33.33%;
    height: 15%;
    box-sizing: border-box;
    text-align: center;
}

.imgStyle {
    width: 90%;
    /* box-sizing: border-box; */
    border-radius: 14px;
    border-style: solid;
}

.imgStyleChecked {
    position: relative;
    top: 30px;
    right: -33px;
    width: 20px;
    height: 20px;
    visibility: hidden;
}

.lblStyle {
    position: relative;
    top: -15px;
    color: #FBFEFF;
    font-size: 12px;
}

#divDisplay {
    position: relative;
    top: 40px;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    overflow: hidden;
}

#btnCreate {
    position: relative;
    top: 70px;
    width: 100%;
    height: 100%;
}

#txtVersion {
    position: relative;
    left: 0px;
    right: 0px;
    bottom: -65px;
    font-size: 13px;
    text-align: center;
    color: rgba(255, 255, 255, 0.2);
}

#divDialog {
    width: 100%;
    height: 100%;
}

.divPopup {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.75);
}

.imgPopup {
    position: absolute;
    top: 266px;
    width: 300px;
    height: 208px;
}

#txtRemark {
    position: absolute;
    top: 262px;
    color: #8F8F8F;
    font-size: 14px;
}

#divPromptEdit {
    position: relative;
    top: 310px;
}

#txtPromptEdit {
    font-size: 16px;
    min-width: 252px;
    min-height: 92px;
    max-width: 252px;
    max-height: 92px;
    border: none;
    background-color: rgba(255, 255, 255, 0);
}

#btnCancel {
    position: absolute;
    top: 423px;
    left: 100px;
    color: #000000;
    font-weight: bold;
}

#btnConfirm {
    position: absolute;
    top: 423px;
    right: 100px;
    color: #576A94;
    font-weight: bold;
}


/*===    page2    ===*/
#divPage2 {
    position: absolute;
    left: 20px;
    right: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
}

#imgProcedure,
#imgComplete {
    position: absolute;
    top: 107px;
    width: 330px;
    height: 440px;
}

#prompt_tanslation {
    position: absolute;
    top: 5px;
    font-size: 16px;
    color: #FFFFFF;
}

#txtProgress {
    position: absolute;
    top: 550px;
    font-size: 16px;
    color: #FFFFFF;
}

/*===    page3    ===*/
#divPage3 {
    position: absolute;
    left: 20px;
    right: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
}

#txtShare {
    position: absolute;
    left: 0px;
    right: 25px;
    top: 5px;
    text-align: right;
    font-size: 13px;
    color: #FBFEFF;
}

#imgShare {
    position: absolute;
    top: 20px;
    right: 5px;
    width: 15px;
    height: 15px;
}

#txtSave {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 550px;
    text-align: center;
    font-size: 13px;
    color: #FBFEFF;
}